.details {
	display: flex;
	gap: 4rem;

	& > .image {
		& > .details-img {
			border-radius: 0px !important;
			height: 50rem;
			width: 60rem;
		}
	}

	& > .booking-section {
		width: 100%;
		margin-right: 2rem;
		margin-left: 4rem;

		& > .title {
			font-weight: 900;
			margin-top: 4rem;
			font-size: 2rem;
			text-align: right;
			padding: 3rem;
		}

		& > .fee {
			display: flex;
			justify-content: space-between;
			background-color: #e0dfdf;
			padding: 1rem;
			margin-top: 0.5rem;
			border-radius: 5px;
		}

		& > .btn {
			border-radius: 2rem;
			height: 4rem;
			width: 20rem;
			text-align: center;
			padding: 1rem;
		}
	}
}
