.reserve-container {
	display: flex;
  justify-content: center;

	.reserve-content {
		flex-grow: 1;

		& > .form {
			display: flex;
			flex-direction: column;
      width: 500px;
      gap: 1rem;
      align-items: center;
      margin: auto;
		}
	}
}
