.cover {
	height: 100vh;
	background-color: orange;

	& > .nav {
		display: flex;
		justify-content: space-between;
		padding: 4rem;

		& > .logo {
			display: flex;
			justify-content: center;
      gap: 1rem;
		}
	}
}
